<ion-header>
  <ion-toolbar>
    <ion-title>UMN UKM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col size="12" offset="2" text-center>
        <ion-card>
          <ion-card-title>
            <ion-icon name="logo-angular">
            </ion-icon>
          </ion-card-title>
          <ion-card-subtitle>
            Justin Susanto<br>
            NIM00000013613
          </ion-card-subtitle>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      <ion-card-title>My UKMS</ion-card-title>
    </ion-col>
  </ion-grid>

  <ion-list>
    <ion-item-sliding *ngFor="let u of myUkm" #sleding>
      <ion-item>
        <ion-label>
          <h1>{{ u.nama }}</h1>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteUkm(u.nama)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
