<ion-header>
    <ion-toolbar>
        <ion-title>
            UMN UKM
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-col text-center>
            <ion-card *ngFor="let u of ukm">
                <ion-card-title> {{ u.nama }}</ion-card-title>
                <ion-card-subtitle> {{ u.Description}}</ion-card-subtitle>
                <ion-card-content>
                    <ion-button (click)="alertJoin(u)">
                        Join
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-grid>
</ion-content>
